.login{
    width: 300px;
    background-color: white;
    margin-top: 150px;
    padding: 20px;
    border-radius: 5px;
}

.login form{
    display: flex;
    flex-direction: column;
}

.input{
    width: 100%;
    height: 32px;
    margin: 8px 0px;
    padding-left: 10px;
    font-size: 16px;
}

.pass{
    width: 100%;
    position: relative;
}

.visible_icon{
    color: rgb(95, 92, 92);
    position: absolute;
    top: 14px;
    right: 10px;
}

form p{
    font-size: 15px;
    color: red;
    text-align: center;
}

form button{
    background-color: rgb(55, 155, 242);
    border: none;
    outline: none;
    padding: 8px 0px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 2px 0px;
    cursor: pointer;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.path{
    font-size: 11px;
}
.path span{
    font-size: 11px;
    color: rgb(55, 155, 242);
    cursor: pointer;
}

.forgot{
    font-size: 11px;
    color: rgb(55, 155, 242);
    cursor: pointer;
}